.menu{
  background: linear-gradient(30deg, rgb(4, 73, 95), rgb(121, 200, 206));
  padding:20px;
}

.logoutBtn{
  padding-right: 100px;
}

.menu ul {
  list-style:none;
  float:right;
  margin-top:50px;
}

.menuList{
  width:1920px;
  margin:0 auto;
}

.menu li {
  margin:20px;
  border : 0;
  float: left;
  padding-top: 20px;
}

.menuList a{
  color:white;
  font-size: 22px;
  font-weight: bold;
}

.contentalign{
  margin: 0 auto;
  width: 1280px;
}

.logo{
  width:250px;
  margin-top: 70px;
  margin-left: 120px;
}

a{
  text-decoration: none;
}


.adminTitle, .loginTitle{
  text-align: center;
  margin-top:100px;
  margin-bottom:100px;
}

.loginBtn, .loginInput{
  margin:0 auto;
  display: block;
  width:300px;
  height:50px;
  font-size: 20px;
  color:black;
}