.viewContain{
  width:100%;
  min-width: 1920px;
  margin:0 auto;
  overflow:hidden;
}

.menu{
  background: linear-gradient(30deg, rgb(4, 73, 95), rgb(121, 200, 206));
  padding:20px;
}

.logoutBtn{
  padding-right: 100px;
}

.menu ul {
  list-style:none;
  float:right;
  margin-top:50px;
}

.menuList{
  width:1920px;
  margin:0 auto;
}

.menu li {
  margin:20px;
  border : 0;
  float: left;
  padding-top: 20px;
}

.menuList a{
  color:white;
  font-size: 20px;
  font-weight: bold;
}

.contentalign{
  margin: 0 auto;
  width: 1280px;
}

.logo{
  width:250px;
  margin-top: 70px;
  margin-left: 120px;
}

a{
  text-decoration: none;
}


.adminTitle, .loginTitle{
  text-align: center;
  margin-top:100px;
  margin-bottom:100px;
}

.loginBtn, .loginInput{
  margin:0 auto;
  display: block;
  width:300px;
  height:50px;
  font-size: 20px;
  color:black;
}

.searchBox{
  width:600px;
  height:30px;
  display: inline-block;
  margin:0 auto;
}

.searchBtn, .addBtn{
  width:60px;
  height:35px;
  display: inline-block;
  margin:0 auto;
}

.contentalign .searchAlign{
  position: relative;
  left:50%;
  width:100%;
  right:50%;
}

.newDisBtn{
  color:black;
  font-size: 15px;
  height:50px;
  margin-top: 30px;
  float:right;
}

li{
  margin-top:10px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.containList{
  width:100%;
  height:400px;
  overflow-y:scroll;
  margin-top: 50px;
}

div{
  font-size: 18px;
}

.saveBtn, .editBtn{
  height:35px;
  font-size:18px;
  font:bold;
  margin-top: 30px;
  float:right;
  width:100px;
  margin-bottom: 50px;
}

.editDisList{
  width:800px;
  height:300px;
  overflow:scroll;
  margin-bottom: 50px;
}

li{
  list-style: none;
}


.checkedBox{
  display: inline-block;
  padding:3px;
  border-bottom:solid 1px;
  border-color: rgba(9, 9, 78, 0.4);
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: text-bottom;
}


.removeBtn{
  margin-left:10px;
  color:black;
  font-size: 9px;
  width:20px;
  height:20px;
  background-color: rgba(36, 36, 48, 0.15);
  border-radius: 5px;
  vertical-align: text-bottom;
  border-color:rgba(163, 163, 168, 0.3);
  margin-top:10px;
}

.removeBtn:hover{
  color:white;
  background-color:black;
  transition-duration: 1s;
}

.symTD, .hosTD{
  border-radius: 0px;
  border-width: 0.05em;
  border-style: solid;
  border-radius: 20px;
  padding:20px;
}

td{
  padding-top:50px;
}

.editDisTable{
  padding-bottom:50px;
}

.disInput{
  width:720px;
  height:30px;
  font-size: large;
}

.cureInput, .descriptionDis{
  width:840px;
  height:200px;
  font-size: large;
  overflow-y:scroll;
  word-wrap: break-word;
  border-radius: 10px;
}

.cureTD, .descriptionTD{
  padding-top: 0;
  padding-bottom: 50px;
}

.newInput{
  width:200px;
  height:30px;
  display: inline-block;
  margin:0 auto;
}

.disFormAlign{
  width:900px;
  margin: 0 auto;
}

.drop{
  width:200px;
  height:30px;
  margin:10px;
  font-size: 18px;
}

.disCode{
  width:300px;
  height:30px;
  font-size: 18px;
}

li{
  cursor:pointer;
}

.connectInfo{
  background-color: rgba(121, 200, 206, 0.5);
  width:30%;
  height:500px;
  float:left;
  padding:20px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.checkInfo{
  background-color: rgba(121, 200, 206, 0.5);
  width:62%;
  height:500px;
  float:left;
  margin-left: 10px;
  padding:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.searchSymptom, .inputSym, .editSym{
  width:90%;
  height:35px;
  display:inline-block;
}

.SymptomBtn, .inputSymSave, .editSymSave{
  width:8%;
  height: 41px;
  display:inline-block;
}

.liStyle{
  list-style: inside;
}

.checklist{
  list-style:none;
  margin-top:0;
  display: block;
  padding-left: 0;
}

.checkli{
  padding-top:0;
  margin-top:10px;
  display: block;
  height:25px;
}

.caution{
  margin: 10px;
}

.NewSymText, .EditSym, .ConnectSymPart{
  padding-top:50px;
}

.manageButton{
  color:black;
  font-size: 15px;
  height:50px;
  margin-top: 15px;
  width:100px;
  margin:20px;
}

.manageButtonDiv{
  float:right;
}